.wrapper
  = render "groups/header"
  .main
    .content
      .review
        .review__box
          .review__box__image
            =image_tag("/images/joker.jpg",size: "188x188")
          .review__box__contents
            .review__box__contents__content
              joker/ジョーカー
            .review__box__contents__text
              ジョーカーという男はこんなにもわかりやすかったのか、と驚いた。
              バットマンシリーズはそれぞれ独立した世界なので、今回のジョーカーはこういう解釈なのだと言われてしまえばそれまでだが、
              本作はノーランの『ダークナイト』に近いリアル路線の世界観だったので、ノーラン版の印象をそのまま引きずって観ていたので驚いたのだ。
      .review
        - @messages.each do |message|
          .review__box
            .review__box__image
              =image_tag message.image.url,size: "188x188"
            .review__box__contents
              .review__box__contents__content
                = message.content
              .review__box__contents__text
                = message.text
  .footer
    = paginate(@messages)