.header
  .header__title
    =link_to root_path class:"header__title" do
      HoBBies
  .post
    - if user_signed_in?
      .post-btn
        =link_to new_group_path ,class: "post-btn" do
          .post-btn__wide
            .post-btn__wide__content
              .post-btn__wide__content__text
                ジャンル追加
              .post-btn__wide__content__icon
                %i.fa.fa-box
    - else
    - if user_signed_in?
      .post-btn
        =link_to new_message_path ,class: "post-btn" do
          .post-btn__wide
            .post-btn__wide__content
              .post-btn__wide__content__text
                投稿
              .post-btn__wide__content__icon
                %i.fa.fa-pen-nib
    - else
  .form
    %input{placeholder: "検索", type: "text",class:"form-content"}/
  .header__user-btn
    .newuser-btn
      - if user_signed_in?
        =link_to edit_user_path(current_user.id) do
          マイページ
      - else 
        =link_to users_path do
          新規登録
    .login-btn
      - if user_signed_in?
        =link_to destroy_user_session_path, method: :delete do 
          ログアウト
        .current_user_name
          = current_user.name
          さん
      - else
        = link_to "ログイン", new_user_session_path
  
    
　　
  