.header
  .header__title
    HoBBies
  .form
    %input{placeholder: "検索", type: "text",class:"form-content"}/
  .header__user-btn
    .newuser-btn
      =link_to users_path do
        新規登録
    .login-btn
      =link_to ""do
        ログイン
    
　　
  