.header
  .header__title
    HoBBies
  - if user_signed_in?
    .post-btn
      =link_to "",class: "post-btn" do
        .post-btn__wide
          .post-btn__wide__content
            .post-btn__wide__content__text
              投稿
            .post-btn__wide__content__icon
              %i.fa.fa-camera
  - else
    .non
  .form
    %input{placeholder: "検索", type: "text",class:"form-content"}/
  .header__user-btn
    .newuser-btn
      - if user_signed_in?
        =link_to edit_user_path(current_user.id) do
          マイページ
      - else 
        =link_to users_path do
          新規登録
    .login-btn
      - if user_signed_in?
        =link_to destroy_user_session_path, method: :delete do 
          ログアウト
      - else
        = link_to "ログイン", new_user_session_path
    
    
　　
  