.main
  .content
    .hobbys
      .hobby-box
        .hobby-image
          =image_tag("/images/movie.jpg",size: "188x188")
        .hobby-content
          ・映画
      .hobby-box
        .hobby-image
          =image_tag("/images/music.jpg",size: "188x188")
        .hobby-content
          ・音楽
      .hobby-box
        .hobby-image
          =image_tag("/images/sports.jpg",size: "188x188")
        .hobby-content
          ・スポーツ
      .hobby-box
        .hobby-image
          =image_tag("/images/programing.jpg",size: "188x188")
        .hobby-content
          ・プログラミング
      .hobby-box
        .hobby-image
          =image_tag("/images/trip.jpg",size: "188x188")
        .hobby-content
          ・旅行
          .content
    .hobbys
      .hobby-box
        .hobby-image
          =image_tag("/images/food.jpg",size: "188x188")
        .hobby-content
          ・グルメ
      .hobby-box
        .hobby-image
          =image_tag("/images/readbook.jpg",size: "188x188")
        .hobby-content
          ・読書
      .hobby-box
        .hobby-image
          =image_tag("/images/TVprogram.png",size: "188x188")
        .hobby-content
          ・番組
      .hobby-box
        .hobby-image
          =image_tag("/images/outdoor.jpg",size: "188x188")
        .hobby-content
          ・アウトドア
      .hobby-box
        .hobby-image
          =image_tag("/images/etc.jpg",size: "188x188")
        .hobby-content
          ・その他
        