.wrapper
  = render "header"
  .main
    .content
      .hobbys
        - @groups.each do |group|
          .hobby-box
            =link_to group_messages_path(group.id) do
              .hobby-image
                - if group.image.url nil?
                  =image_tag group.image.url,size: "200x200"
                - else
                  =image_tag "/images/sample_img.gif",size: "200x200"
              .hobby-content
                = group.name
          .more
            .more_list
              = button_to group_path(group.id), method: :delete do
                削除

  .paginate
    = paginate(@groups)
    
