.wrapper
  = render "header"
  .main
    .content
      .group-name
        映画
      .group-box
        .group-image
          =image_tag("/images/joker.jpg",size: "188x188")
        .group-content
          JOKER/ジョーカー
        .group-text
        　映画/サスペンス
  = render "footer"