// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

.header{
  padding: 20px 40px;
  background-color: aqua;
  text-align: right;
  display: flex;
  &__title{
    font-size: 40px;
    font-weight: bold;
    color:#fff;
    text-align: left;
    width: 300px;
  }
  &__user-btn{
    color:#fff;
    text-align: right;
    display: inline-flex;
    position: relative;
    width: 200px;
    right: 0px;
    .newuser-btn{
      padding:10px;
    }
    .login-btn{
      padding:10px;
    }
  }
  .form{
    width: 50%;
    .form-content{
      width: 300px;
    }
  }
}
.main{
  padding:40px 100px;
  .hobbys{
    display: flex;
    margin-top: 30px;
    .hobby-box{
      padding:0px 20px;
    }
  }
}