// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

.header{
  padding: 20px 40px;
  background-color: aqua;
  text-align: right;
  display: flex;
  text-decoration: none;
  &__title{
    font-size: 40px;
    font-weight: bold;
    color:#fff;
    text-align: left;
    width: 300px;
    text-decoration: none;
  }
  .post-btn{
    font-size: 22px;
    height: 75px;
    width: 100px;
    background-color:black;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    &__wide{
      text-align: center;
      &__content{
        width:  100px;
        height:80px;
        &__text{
          font-size: 15px;
          color:#ffffff;
          width: 100px;
          height: 33px;
          margin: 0 auto;
        }
        &__icon{
          width: 60px;
          height: 54px;
          margin: 0 auto;
          i{
            color: #ffffff;
            box-sizing: border-box;
            font-size: 35px;
          }
        }
      }
    }
  }
  &__user-btn{
    color:#fff;
    text-align: right;
    display: inline-flex;
    position: relative;
    width: 200px;
    right: 0px;
    .newuser-btn{
      padding:10px;
    }
    .login-btn{
      padding:10px;
    }
  }
  .form{
    width: 30%;
    margin: 0 auto;
    .form-content{
      margin: 0 auto;
      width: 300px;
    }
  }
}
.main{
  padding:40px 100px 100px;
  .hobbys{
    flex-wrap: wrap;
    display: flex;
    margin-top: 30px;
    .hobby-box{
      padding:0px 20px;
      width: 200px;
      height: 200px;
      margin: 30px 20px;
      .hobby-image{
        width: 200px;
        height: 200px;
      }
    }
  }
}
.footer{
  background-color:#00FF00;
  width:100%;
  height: 200px;
}
