// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-header{
  display: flex;
  .form{
    padding: 20px;
  }
  .post-btn{
    font-size: 22px;
    height: 75px;
    width: 100px;
    background-color:black;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    &__wide{
      text-align: center;
      &__content{
        width:  100px;
        height:80px;
        &__text{
          font-size: 15px;
          color:#ffffff;
          width: 100px;
          height: 33px;
          margin: 0 auto;
        }
        &__icon{
          width: 60px;
          height: 54px;
          margin: 0 auto;
          i{
            color: #ffffff;
            box-sizing: border-box;
            font-size: 35px;
          }
        }
      }
    }
  }
}
.group-name{
  font-size: 20px;
  font-weight: bold;
}
.review{
  box-sizing: border-box;
  &__box{
    padding:20px;
    display: flex;
    &__contents{
      padding:0 20px;
      &__text{
        height: 100px;
        margin-top: 20px;
        overflow: scroll;
        box-sizing: border-box;
      }
    }
  }
}
.paginate{
  padding: 30px;
}