// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group-name{
  font-size: 20px;
  font-weight: bold;
}
.review{
  box-sizing: border-box;
  &__box{
    padding:20px;
    display: flex;
    &__contents{
      padding:0 20px;
      &__text{
        height: 100px;
        margin-top: 20px;
        overflow: scroll;
        box-sizing: border-box;
      }
    }
  }
}